@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager

@model WebAppCW.Models.PostComments

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<style>
    .comment {
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
    }

    .user_name {
        font-size: 14px;
        font-weight: bold;
    }

    .comments-list .media {
        border-bottom: 1px dotted #ccc;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>

</head>
<body>

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Post.PostAuthor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Post.PostAuthor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Post.PostText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Post.PostText)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Likes)
            </dt>
            <dd>
                <a>@Model.Likes.Count()</a>
            </dd>
        </dl>

        @if (SignInManager.IsSignedIn(User))
        {
        <a class="btn btn-primary" asp-action="AddLike" asp-route-id="@Model.Post.PostId">Like</a>
        }

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h1><small class="pull-right">@Model.Comments.Count comments</small></h1>
                    </div>
                    <div class="comments-list">
                        @for (int i = 0; i < Model.Comments.Count; i++)
                        {
                        <div class="comment">
                            <i class="fas fa-user prefix"></i>
                            <h2 class="user_name h2-responsive">Author: @Model.Comments[i].AuthorName</h2>
                            <p class="pb-4">@Model.Comments[i].CommentTitle</p>
                            <p class="media-heading">  -@Model.Comments[i].CommentText</p>
                        </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a asp-action="CreateComment" asp-route-id="@Model.Post.PostId">Write new comment</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "IsBlogger")).Succeeded)
    {
        <div>
            <a asp-action="Edit" asp-route-id="post.PostId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }

</body>
</html>
